<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="AdminMapper">
 
  	<!--  게시물 리스트 -->
 	<select id="viewlist" resultType="com.wpp.domain.FreeBoard">	
 		SELECT bnum, title, writer, date ,boardtag from (
 		(SELECT bnum,title,writer,date,boardtag from web_board )
		UNION
		(SELECT bnum as bnum, title as title, writer as writer, date as date, boardtag as boardtag from free_board)
		UNION
		(SELECT bnum as bnum, title as title, writer as writer, date as date, boardtag as boardtag from qna)
		UNION
		(SELECT bnum as bnum, title as title, writer as writer, date as date, boardtag as boardtag from notice)
		UNION
		(SELECT imgid as bnum, imgname as title, imgwriter as writer ,imgdate as date, boardtag as boardtag from gallery)
		)g
		
   		<include refid="search"></include>		
		ORDER BY date desc LIMIT ${start}, 20;
	</select>
	
	<!-- 게시물 수 카운트 -->
	<select id="countboard" resultType="int">
			select sum(num) from(
		
		(SELECT count(bnum)  as num from web_board )
		UNION
		(SELECT count(bnum)  as num from free_board)
		UNION
		(SELECT count(bnum)  as num from qna)
		UNION
		(SELECT count(bnum)  as num from notice)
		UNION
		(SELECT count(imgid)  as num from gallery)
        
        )a
		<!-- 총합계를 내는 방식이라 일반 게시판과 같은 방식으로 검색 옵션을 적용할 수 없음...
		<include refid="search"></include>-->
	</select>
	
	<!--  댓글 리스트 -->
 	<select id="viewreplylist" resultType="com.wpp.domain.WebReply">
 		SELECT rnum, bnum, replyer, replytext ,date, replytag from (	
 		(SELECT rnum,bnum,replyer,replytext ,date, replytag from web_reply )
		UNION
		(SELECT rnum as rnum, bnum as bnum ,replyer as replyer,replytext as replytext ,date as date, replytag as replytag from free_reply)
		UNION
		(SELECT rnum as rnum, bnum as bnum ,replyer as replyer,replytext as replytext , date as date, replytag as replytag from qna_reply)
		UNION
		(SELECT rnum as rnum, bnum as bnum ,replyer as replyer,replytext as replytext , date as date, replytag as replytag from notice_reply)
 		)b
   		<include refid="replysearch"></include>
  
		ORDER BY date desc LIMIT ${start}, 20;	 	
	</select>
	
	<!-- 댓글 수 카운트 -->
	<select id="countreply" resultType="int">
			select sum(snum) from(
		
		(SELECT count(rnum)  as snum from web_reply )
		UNION
		(SELECT count(rnum)  as snum from free_reply)
		UNION
		(SELECT count(rnum)  as snum from qna_reply)
		UNION
		(SELECT count(rnum)  as snum from notice_reply)
        )r

		<!-- 
		<include refid="search"></include>-->
	</select>
	
		<!--  유저 리스트 -->
 	<select id="viewuserlist" resultType="com.wpp.domain.User">
 		SELECT * from users
   		<include refid="usersearch"></include>
  
		ORDER BY joindate desc LIMIT ${start}, 20;	 	
	</select>
	
	<!-- 유저 수 카운트 -->
	<select id="countuser" resultType="int">
			select count(*) from users

		
		<include refid="usersearch"></include>
	</select>
	
	
	
<sql id="search">
    <choose>
        <!-- 검색옵션이 전체 검색일 경우 -->
        <when test="searchOption == 'all'">
            WHERE writer like '%${keyword}%'
            OR title like '%${keyword}%'
        </when>
        <!-- 전체 검색이 아닐 경우 -->
        <otherwise>
            WHERE ${searchOption} like '%${keyword}%'
        </otherwise>
    </choose>
</sql>

<sql id="replysearch">
    <choose>
        <!-- 검색옵션이 전체 검색일 경우 -->
        <when test="searchOption == 'all'">
            WHERE replyer like '%${keyword}%'
            OR replytext like '%${keyword}%'
        </when>
        <!-- 전체 검색이 아닐 경우 -->
        <otherwise>
            WHERE ${searchOption} like '%${keyword}%'
        </otherwise>
    </choose>
</sql>

<sql id="usersearch">
    <choose>
        <!-- 검색옵션이 전체 검색일 경우 -->
        <when test="searchOption == 'all'">
            WHERE userid like '%${keyword}%'
            OR name like '%${keyword}%'
        </when>
        <!-- 전체 검색이 아닐 경우 -->
        <otherwise>
            WHERE ${searchOption} like '%${keyword}%'
        </otherwise>
    </choose>
</sql>
 

 </mapper>