<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="UserMapper">
 	
 	<!-- 아이디로 회원정보  불러오기 -->
 	<select id="findByID" resultType="com.wpp.domain.User">
 		SELECT * 
 		FROM users 
 		WHERE userid= #{userid}
 	</select>
 	
 	<!-- 아이디로 프로필 이미지 찾기 -->
 	<select id="findprofile" resultType="string">
 		SELECT profileimg 
 		FROM users 
 		WHERE userid= #{userid}
 	</select>
 	
 	<!-- 회원가입 -->
 	<insert id="create">
 		INSERT INTO users (userid, password, name, email) 
 		VALUES (#{userid}, #{password}, #{name}, #{email})
 	</insert>
	
	<!-- 회원 수정 --> 	
 	<update id="update">
 		UPDATE users 
 		SET password = #{password}, name = #{name}, email = #{email} 
 		WHERE userid = #{userid}
 	</update>
 	
 	<!-- 프로필 수정 -->
 	<update id="imgupdate">
 		UPDATE users 
 		SET
 		profileimg = #{profileimg} 
 		WHERE userid = #{userid}
 	</update>
 	
 	<!-- 아이디 중복확인 -->
 	<select id="checkId" resultType="integer">
		  SELECT COUNT(*) AS cnt
		  FROM users A 
		  WHERE 1 = 1
		  AND A.userid = #{userid}  	
 	</select>
 	
 	<!-- email로 아이디 찾기 -->
 	<select id="finduserId" resultType="string">
 		SELECT userid 
 		FROM users 
 		WHERE email = #{user_email} AND name = #{user_name}
 	</select>
 	
 	<!-- 아이디로 이메일 찾기 -->
 	<select id="finduserEmail" resultType="string">
 		SELECT email 
 		FROM users 
 		WHERE userid = #{userid}
 	</select>
 		
 	<!-- 메세지 보내기  -->
 	<insert id="sendMessage">
 		INSERT INTO message (senduser, receiver, content) 
 		VALUES (#{senduser}, #{receiver}, #{content})
 	</insert>
 	
 	<!--  메시지 보기 -->
 	<select id="viewMessage" resultType="com.wpp.domain.Message">	
 		SELECT senduser, receiver, content, date 
 		FROM message 
 		WHERE receiver = #{userid} 
 		ORDER BY date DESC
 	</select>
 	
 	<!--  보낸메시지 보기 -->
 	<select id="viewsendMessage" resultType="com.wpp.domain.Message">	
 		SELECT senduser, receiver, content, date 
 		FROM message 
 		WHERE senduser = #{userid} 
		RDER BY date desc
 	</select>
 	
 	<!--  회원탈퇴 -->
 	<delete id="unregister">
		DELETE FROM users 
		WHERE userid = #{userid} 	
 	</delete>
 	
 	
 </mapper>