<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="WebBoardMapper">
 
 	<insert id="insert">
        INSERT INTO web_board ( bnum, title, content, writer) 
        VALUES (#{bnum},#{title},#{content},#{writer})
    </insert>
    
     <select id="view" resultType="com.wpp.domain.WebBoard">
        SELECT * 
        FROM web_board 
        WHERE bnum = #{bnum}
    </select>
 
 	<update id="uphit">
        UPDATE web_board 
        SET hit = hit + 1 
        WHERE bnum = #{bnum}
    </update>
    
    <update id="updateArticle">
        UPDATE web_board 
        SET title = #{title}, content = #{content}
        WHERE bnum = #{bnum}
    </update>

    <delete id="delete">
        DELETE FROM web_board
        WHERE bnum = #{bnum}
    </delete>
 	
 	<select id="viewlist" resultType="com.wpp.domain.WebBoard">	 
	 	SELECT bnum, title, content, writer, date, hit, (SELECT COUNT(*) FROM web_reply WHERE bnum= b.bnum) AS recnt
	 	FROM web_board b
   		<include refid="search"></include>
		ORDER BY bnum DESC, date DESC LIMIT ${start}, 20;
	</select>

 	<select id="userlist" >	 
	 	SELECT profileimg 
	 	FROM users	 	
	</select>

	<select id="findBywriter" resultType="string">
 		SELECT writer 
 		FROM web_board 
 		WHERE bnum= #{bnum}
 	</select>
	
	<select id="countboard" resultType="int">
		SELECT COUNT(*) 
		FROM web_board
		<include refid="search"></include>
	</select>
	
	<select id="popboard" resultType="com.wpp.domain.WebBoard">
		SELECT bnum, title, content, writer, date, hit, (SELECT COUNT(*) FROM web_reply WHERE bnum= b.bnum) AS recnt 
        FROM web_board b 
        ORDER BY hit DESC limit 5;
	</select>
	
	<select id="modifyview" resultType="com.wpp.domain.WebBoard">
        SELECT bnum, title, content, writer, date, hit 
        FROM web_board
        WHERE bnum = #{bnum}
    </select>
	
	<!-- 메인화면에 보일 최근 글 조회 -->
	<select id="recentboard" resultType="com.wpp.domain.WebBoard">
		(SELECT bnum, title, date, boardtag FROM web_board )
		UNION
		(SELECT bnum AS bnum, title AS title, date AS date, boardtag AS boardtag FROM free_board)
		UNION
		(SELECT bnum AS bnum, title AS title, date AS date, boardtag AS boardtag FROM qna)
		UNION
		(SELECT bnum AS bnum, title AS title, date AS date, boardtag AS boardtag FROM notice)
		UNION
		(SELECT imgid AS bnum, imgname AS title, imgdate AS date, boardtag AS boardtag FROM gallery)		
		 ORDER BY date DESC limit 5;
	</select>
	
	<sql id="search">
	    <choose>
	        <when test="searchOption == 'all'">
	            WHERE writer LIKE '%${keyword}%'
	            OR content LIKE '%${keyword}%'
	            OR title LIKE '%${keyword}%'
	        </when> 
	        <otherwise>
	            WHERE ${searchOption} LIKE '%${keyword}%'
	        </otherwise>
	    </choose>
	</sql>
	 


 </mapper>